# Python
__pycache__/
*.pyc

# Virtual environment
venv/
test_env/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Data files (important for ML)
data/
*.csv
*.xlsx

# Secrets
.env